
@{
    ViewBag.Title = "學生資料新增";
}

<h2>學生資料</h2>

<p>
    @*<a href="/Home/Create">新增學生資料</a>*@
    @Html.ActionLink("新增學生資料", "Create")
</p>

<form action="@Url.Action("Create")" method="post">
    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            <label for="fStuId" class="control-label col-md-2">學號:</label>
            <div class="col-md-10">
                <input id="fStuId" name="fStuId" type="text" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label for="fName" class="control-label col-md-2">姓名:</label>
            <div class="col-md-10">
                <input id="fName" name="fName" type="text" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label for="fEmail" class="control-label col-md-2">E-mail:</label>
            <div  class="col-md-10">
                <input id="fEmail" name="fEmail" type="text" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label for="fScore" class="control-label col-md-2">成績:</label>
            <div class="col-md-10">
                <input id="fScore" name="fScore" type="text" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input id="Submit1" type="submit" value="新增" class="btn btn-block btn-primary " />
            </div>
        </div>
    </div>
</form>

<p>
    @Html.ActionLink("返回學生資料", "Index")
</p>



