



@font-face {
    font-family: 'MyFont';
    src: url('Fonts/webdings.eot') format('embedded-opentype'), url('Fonts/webdings.otf') format('opentype'), url('Fonts/webdings.svg') format('svg'), url('Fonts/webdings.ttf') format('truetype'), url('Fonts/webdings.woff') format('woff'), url('Fonts/webdings.woff2') format('woff2');
}


#ControlPanel {
    border: 5px solid;
    width: 600px;
    margin: auto;
    text-align: center;
}

    #ControlPanel > span {
        cursor: pointer;
        font-family: MyFont;
        font-size: 3rem;
        border: 1px solid;
        box-shadow: 0px 0px 7px black;
        border-radius: 50%;
    }

#music, #info, #duration, #info2 {
    width: inherit;
    background-color: black;
    color: chartreuse;
    font-size: 16pt;
}

#info {
    margin-bottom: -5px;
}

#volM, #volP {
    border-radius: 50%;
}

#volValue {
    width: 22px;
    background-color: black;
    color: yellow;
}

#vol {
    width: 80%;
    height: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 3px solid #808080;
    background-color: #c8c8c8;
}

    #vol::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 35px;
        height: 25px;
        background-color: #303030;
        border: 3px groove white;
    }

#progress {
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
    outline: none;
    background-color: #c4c3c3;
    -moz-appearance: none;
    -webkit-appearance: none;
}

    #progress::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 10px;
        height: 5px;
        background-color: #b70000;
        cursor: pointer;
    }

        #progress::-webkit-slider-thumb:hover {
            width: 17px;
            height: 17px;
            border-radius: 50%;
        }

#Sbook, #Tbook {
    margin-top: 20px;
    border: 1px dotted;
    width: 298px;
    height: 400px;
    float: left;
    overflow: auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}
