
@{
    ViewBag.Title = "Index";
}
<hr />
    <form action="Index" method="post">
        <input id="Text1" type="text" name="id" class="form-control" />
        <input id="Submit1" type="submit" value="submit" class="btn btn-danger" />
        <h1>@ViewBag.Result</h1>
    </form>