@{
    ViewBag.Title = "關於我們";
}
    <div class="container" style="height:100px;"></div>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p style="color:blue;">本網站由一群熱愛程式的小鱻肉所組成</p>
<p>成立時間：2020/01/03  成立</p>
