.header {
    margin-bottom: 80px;
}

.box-content {
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.75);
}

.slogon {
    margin: 50px 0;
    height: 80px;
}

.footer-content {
    height: 60px;
    line-height: 60px;
}
