
@font-face {
    font-family: 'webdings';
    src: url('fonts/webdings.eot') format('embedded-opentype'), url('fonts/webdings.otf') format('opentype'), url('fonts/webdings.svg') format('svg'), url('fonts/webdings.ttf') format('truetype'), url('fonts/webdings.woff') format('woff'), url('fonts/webdings.woff2') format('woff2');
}

#ControlPanel {
    border: 7px Indigo outset;
    box-shadow: 2px 5px 7px purple;
    width: 1000px;
    margin: auto;
    text-align: center;
}

    #ControlPanel > span {
        cursor: pointer;
        font-family: Webdings;
        font-size: 3rem;
        box-shadow: 2px 5px 7px blue;
        border-radius: 50%;
        border: 5px red outset;
    }

#music, #info, #duration, #info2 {
    width: inherit;
    background-color: black;
    color: gold;
    font-size: 20pt;
    border: 3px purple outset;
}

#info {
    margin-bottom: -5px;
}

#volM, #volP {
    border-radius: 50%;
}

#volValue {
    width: 30px;
    height: 30px;
    font-size: 15pt;
    background-color: black;
    color: gold;
    border: 5px purple outset;
}

#vol {
    width: 58%;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 3px lightgreen outset;
    background-color: black;
    cursor: pointer;
}

    #vol::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 35px;
        height: 35px;
        background-color: mediumspringgreen;
        border: 5px green outset;
    }

#progress {
    width: 50%;
    height: 15px;
    margin-bottom: 20px;
    outline: none;
    background-color: mediumvioletred;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 3px outset pink;
}

    #progress::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 10px;
        height: 5px;
        background-color: hotpink;
        cursor: pointer;
    }

        #progress::-webkit-slider-thumb:hover {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

#Sbook, #Tbook {
    border: 7px Indigo outset;
    box-shadow: 2px 5px 7px purple;
    margin-top: 35px;
    width: 298px;
    height: 400px;
    float: left;
    overflow: auto;
    background-color: black;
    color: gold;
    font-size: 1.5rem;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#btnUpdateMusic {
    box-shadow: 2px 5px 7px blue;
    outline: none;
    background-color: blue;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 1rem;
    color: gold;
}
